body {
  --mdc-theme-primary: rgb(52,152,219);
  --mdc-theme-secondary: rgb(45, 204, 151);
  --mdc-theme-on-primary: #fff;
  --mdc-theme-on-secondary: #fff;
  --mdc-theme-background: #fff;
  --mdc-theme-text-primary-on-background: #000;
  --mdc-typography-base: "Benton Sans", Arial, Helvetica, sans-serif;
  background-color: rgba(0,0,0,0);
  font-family: "Benton Sans", Arial, Helvetica, sans-serif !important;
  font-size: 12px;
  height: 100vh;
  overflow-y: none;
}

#exportBtn {
  min-width: auto !important;
}

.mdc-floating-label {
  font-family: "Benton Sans", Arial, Helvetica, sans-serif !important;
  font-size: 12px;
}

.mdc-floating-label--float-above {
  color: #666666 !important;
}

.mdc-text-field__input {
  height: auto !important;
  font-family: "Benton Sans", Arial, Helvetica, sans-serif !important;
  font-size: 12px;
}

.about-card {
  padding: 20px;
}

.mdc-typography {
  margin: 0;
}

.mdc-typography, .mdc-typography--headline5 {
  font-family: "Benton Sans", Arial, Helvetica, sans-serif !important;
}

.configure-card {
  width: 100%;
}

.card-content {
  height: calc(100vh - 100px);
  overflow-y: auto;
}

.mdc-tab {
  font-size: 12px;
}

.mdc-tab-bar {
  background-color: rgb(245,245,245);
  font-size: 12px;
  height: 39px;
  width: 100%;
}

.mdc-tab__indicator {
  background-color: var(--mdc-theme-primary);
}

.mdc-card__actions {
  bottom: 0px;
  position: absolute;
  right: 10px;
}

.mdc-card--outlined {
  border: 0;
}

.mdc-card__media {
  background: var(--mdc-theme-primary);
  color: var(--mdc-theme-on-primary);
  height: 100px;
}

.mdc-card__media-content {
  position: absolute;
  top: auto;
  right: auto;
  bottom: 10px;
  left: 10px;
}

.mdc-list {
  font-size: 12px;
}

.sheetTitle {
    position: relative;
    top: -7px;
    left: 10px;
}

.selectedIcon {
  color: var(--mdc-theme-secondary);
}

.resetBtn {
  font-size: 12px;
  font-family: 'Benton Sans', Arial, Helvetica, sans-serif;
  font-weight: normal;
  text-transform: none;
  color: rgba(0, 0, 0, 0.701961) !important;
  cursor: default;
  display: inline-block;
  padding: 0px 24px;
  position: relative;
  text-align: center;
  border: 1px solid rgb(203, 203, 203);
  border-radius: 1px;
  height: 24px;
  box-sizing: border-box;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  background-color: rgb(255, 255, 255);
}

.about {
  position: fixed;
  bottom: 15px;
}

.noScroll {
  overflow: hidden;
}

.horizontalScroll {
  overflow-x: auto;
}

.verticalScroll {
  overflow-y: auto;
  max-height: calc(100vh - 40px);
}

.mdc-data-table {
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  white-space: nowrap;
  font-size: 13px;
  overflow-x: auto;
  background-color: #fff;
  color: rgba(0, 0, 0, 0.87);
  /* @alternate */
  color: var(--mdc-theme-text-primary-on-background, rgba(0, 0, 0, 0.87));
}
.mdc-data-table--select-multiple tbody .mdc-data-table__row, .mdc-data-table--select tbody .mdc-data-table__row {
  /*cursor: pointer;*/
}
.mdc-data-table--select-multiple .mdc-data-table__cell:first-of-type, .mdc-data-table--select-multiple .mdc-data-table__header:first-of-type {
  padding: 0 13px;
  width: 66px;
}
.mdc-data-table__content {
  width: 100%;
  border-collapse: collapse;
}
.mdc-data-table__cell {
  font-weight: 400;
}
.mdc-data-table__cell, .mdc-data-table__header {
  position: relative;
  height: 48px;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 0 56px 0 0;
  box-sizing: border-box;
  vertical-align: middle;
}
.mdc-data-table__cell--numeric, .mdc-data-table__header--numeric {
  text-align: right;
}
.mdc-data-table__cell:first-of-type, .mdc-data-table__header:first-of-type {
  padding-left: 24px;
}
.mdc-data-table__cell:last-of-type, .mdc-data-table__header:last-of-type {
  padding-right: 24px;
}
.mdc-data-table__header {
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.54);
  /* @alternate */
  color: var(--mdc-theme-text-secondary-on-background, rgba(0, 0, 0, 0.54));
}
.mdc-data-table__header--sortable {
  user-select: none;
  cursor: pointer;
}
.mdc-data-table__header--sortable:before {
  content: "";
  font-family: 'Material Icons';
  font-size: 16px;
  margin-right: 5px;
  vertical-align: sub;
  display: inline-block;
  font-feature-settings: 'liga';
  transition: transform .2s ease;
}
.mdc-data-table__header--sortable:hover:before {
  color: rgba(0, 0, 0, 0.38);
  /* @alternate */
  color: var(--mdc-theme-text-icon-on-background, rgba(0, 0, 0, 0.38));
}
.mdc-data-table__header--sortable[aria-sort=descending], .mdc-data-table__header--sortable[aria-sort=ascending] {
  color: rgba(0, 0, 0, 0.87);
  /* @alternate */
  color: var(--mdc-theme-text-primary-on-background, rgba(0, 0, 0, 0.87));
}
.mdc-data-table__header--sortable[aria-sort=descending]:before, .mdc-data-table__header--sortable[aria-sort=ascending]:before {
  content: 'arrow_upward';
}
.mdc-data-table__header--sortable[aria-sort=descending]:before {
  transform: rotate(-180deg);
}
.mdc-data-table thead .mdc-data-table__row {
  position: relative;
  height: 56px;
  border-bottom: 1px solid;
  border-color: rgba(0, 0, 0, 0.12);
}
.mdc-data-table tbody .mdc-data-table__row {
  position: relative;
  height: 48px;
  overflow: hidden;
  transition: background-color .15s linear;
  border-bottom: 1px solid;
  border-color: rgba(0, 0, 0, 0.12);
}
.mdc-data-table tbody .mdc-data-table__row:hover {
  background-color: rgba(0, 0, 0, 0.07);
}
.mdc-data-table tbody .mdc-data-table__row:last-of-type {
  border-bottom: none;
}
.mdc-data-table tbody .mdc-data-table__row--disabled {
  pointer-events: none;
}
.mdc-data-table tbody .mdc-data-table__row--selected, .mdc-data-table tbody .mdc-data-table__row:active {
  background-color: rgba(0, 0, 0, 0.04);
}
